
<!-- Modal -->


<div ng-controller="RaceCarFormController as rcformCtrl">
  <form name="raceCarForm">



<div class="modal fade" id="raceCarModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Race Car Editor</h4>
        </div>
        <div class="modal-body">

  <!-- form fields -->
  <div>
    <label>Car #:</label>
    <input type="text" name="inputNumber" maxlength="15" ng-model="car.number" required>
  </div>
  <div>
    <label>Driver:</label>
    <input type="text" name="inputDriver" maxlength="50" ng-model="car.driver" required>
  </div>
  <div>
    <label>Team:</label>
    <input type="text" name="inputRaceTeam" maxlength="15" ng-model="car.raceteam" required>
  </div>
  <div>
    <label>Make:</label>
    <input type="text" name="inputMake" maxlength="15" ng-model="car.make" required>
  </div>
  <div>
    <label>Sponsor:</label>
    <input type="text" name="inputSponsor" maxlength="15" ng-model="car.sponsor" required>
  </div>
  <div>
    <label>Status:</label>
    <input type="text" name="inputStatus" maxlength="15" ng-model="car.status">
  </div>
  

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="rcformCtrl.update()" ng-show="rcformCtrl.show('update')" >Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="rcformCtrl.add()"    ng-show="rcformCtrl.show('add')"    >Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>
</div>





  </form>
</div>